@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
html{
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

body{
    // background: #C6FFDD;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background:url("./wallpapersden.com_material-design-stock_1280x720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    h1{
        font-size: 2em;
        text-align: center;
        color: #A3D2CA;
    }
    h2{
        font-size: 1.5em;
        text-align: center;
        color: #A3D2CA;
    }
}

.root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input{
       

        color: azure;
        height:5rem;
        width:40rem;
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        input{
            height:2rem;
            width:29rem;
            border-radius:9px;
            background: rgba( 255, 255, 255, 0.30 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 7.5px );
            -webkit-backdrop-filter: blur( 7.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            background:none;
            color:#A3D2CA;
            font-size: 1.1rem;
            transition:.8s;
            padding-left: 1rem;
        }

        input:focus{
            outline: none;
            //border: 1px solid rgba(77, 75, 75, 0.18);
            border: 1px solid rgba(255, 255, 255, 0.61);
            color:#A3D2CA;
            font-size: 1.1rem;
        }

        input:hover{
            // box-shadow: 0 8px 32px 0 rgba(168, 168, 170, 0.548);
        }
        button{
            background: rgba( 255, 255, 255, 0.05 );
            box-shadow: 0 8px 32px 0 rgba(94, 92, 92, 0.308);
            backdrop-filter: blur( 3.5px );
            -webkit-backdrop-filter: blur( 3.5px );
            border-radius: 5px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            margin-left: 1rem;
            height: 2rem;
            color: rgb(51, 51, 51);
            transition:.8s;
            padding-right:1rem;
            padding-left:1rem;
        }
        button:focus{
            outline: none;
            border: 1px solid rgba(231, 228, 228, 0.623);
            
        }

        button:hover{
            box-shadow:0 8px 32px 0 rgba(168, 168, 170, 0.548);
        }
    }
    .tasks{
        height:auto;
        width:40rem;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.075);
        box-shadow: 0 8px 32px 0 rgba(24, 24, 24, 0.123);
        backdrop-filter: blur( 6.5px );
        -webkit-backdrop-filter: blur( 6.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        padding-top: 1rem;
        padding-bottom: 1rem;
        transition: 7s;

        .task{
            display: flex;
            width:30rem;
            flex-direction: row; 
            align-items: center;
            justify-content:space-between;
            button{
                background: rgba( 255, 255, 255, 0.05 );          
                backdrop-filter: blur( 3.5px );
                -webkit-backdrop-filter: blur( 3.5px );
                border-radius: 5px;
                border: 1px solid rgba(29, 29, 29, 0.18);
                margin-left: 1rem;
                height: 2rem;
                color: rgb(34, 34, 34);
                transition:.8s;
                padding-right:1rem;
                padding-left:1rem;
            }
            button:focus{
                outline: none;
                border: 1px solid rgba(32, 32, 32, 0.58);
                
            }
    
            button:hover{
                box-shadow: 0 8px 32px 0 rgba(181, 182, 185, 0.76);
            }
            p{
                font-size: 1.3rem;
            }
        }
    }

    .tasks-complete{
        height:auto;
        width:40rem;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.11);
        box-shadow: 0 8px 32px 0 rgba(224, 221, 221, 0.062);
        backdrop-filter: blur( 6.5px );
        -webkit-backdrop-filter: blur( 6.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 1rem;

        .task{
            display: flex;
            flex-direction: row; 
            width:20rem;
            align-items: center;
            justify-content: space-between;
            button{
                background: rgba( 255, 255, 255, 0.05 );
                box-shadow: 0 8px 32px 0 rgba(211, 212, 216, 0.37);
                backdrop-filter: blur( 3.5px );
                -webkit-backdrop-filter: blur( 3.5px );
                border-radius: 5px;
                border: 1px solid rgba(29, 29, 29, 0.18);
                margin-left: 1rem;
                height: 2rem;
                color: rgb(75, 75, 75);
                transition:.8s;
                padding-right:1rem;
                padding-left:1rem;
            }
            button:focus{
                outline: none;
                border: 1px solid rgba(77, 75, 75, 0.58);
                
            }
    
            button:hover{
                box-shadow: 0 8px 32px 0 rgba(211, 212, 216, 0.97);
            }
            p{
                font-size: 1.3rem;
            }
        }
    }
}

